BLOG_ID="masukkan_blog_id_di_sini"
CLIENT_ID="masukkan_client_id_gcp_di_sini"
CLIENT_SECRET="masukkan_client_secret_gcp_di_sini"

# Ini akan diisi nanti setelah menjalankan node get-token.js
REFRESH_TOKEN=""
